<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'dar/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'dar/css/style.css' %}">
    <title>Dar Platform For Educational Centers.</title>
</head>
<body>

<div class="sidenav">
  <img src="{% static 'dar/images/logo.png'%}" height="80" width="80" class="img_logo"></img>
    <a href="#">&#9775;Студенты</a><hr>
    <a href="#">&#10009;Добавить студента</a><hr>
    <a href="#">&#9812;Учители</a><hr>
    <a href="#">&#10009;Добавить учителя</a><hr>
    <a href="#">&#128366;Предметы</a><hr>
    <a href="#">&#10009;Добавить предмет</a><hr>
    <a href="#">&#128386;Сообщения</a><hr>
    <a href="#">&#10004;Тестирование</a><hr>
    <a href="#">&#128393;Написать пост</a><hr>
    <a href="#">&#128458;Отчет</a>
</div>
<div class="main">

    <nav>
	<a href="#">Домой</a>
	<a href="#">Блог</a>
	<a href="#">FAQ</a>
	<a href="#">Профиль</a>
	<a href="#">Выйти</a>
	<div class="animation start-home"></div>
</nav>

</div>

{% block content%}


{% endblock %}
</body>
</html>